/*
* @Author: Administrator
* @Date:   2018-04-10 13:00:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-14 15:20:38
*/
*{
	margin: 0;
	padding: 0;
}
body{
	background:#000000;
	position: relative; 
}
a{
	text-decoration: none;
}
.hide{
	display: none;
}
.block{
	display: block;
}
/* 火焰文字特效 */
canvas {
  width:100%;
  height:auto;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
}
.show{
	position: absolute;
	width: 150px;
	height: 20px;
	background-color:#000000 ;
	color: white;
	font-size: 20px;
	font-family:隶书;
	top: 600px;
    left: 650px;
} 

